* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 15px 40px;
    z-index: 2000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.hero {
    padding-top: 100px;   
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.hero1 {
    background-image: url("../naruto-concept-art-7680x4320.jpg");
}

.hero2 {
    background-image: url("../sasuke.jpg");
}

.hero3 {
    background-image: url("../itachi.jpg");
}


.hero-content {
    max-width: 600px;
    text-align: center;
}
h1{
    font-style: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    align-items: center;
}