div.header{
    font-family: monospace;
    background-color: rgb(143, 48, 48);
    
}

p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}

html,body{
    width:100%;
    height:100%
}
